Flask==2.2.3
Flask-CORS==3.0.10
torch
torchaudio
numpy==1.24.3
SoundFile==0.10.3.post1
Werkzeug==2.2.3
matplotlib==3.7.1
scipy==1.10.1
pandas==2.0.1
seaborn==0.12.2
audioseal==0.1.0
Flask-SQLAlchemy==3.0.3
